*{ margin: 0 auto; padding: 0; box-sizing: border-box;}

body{background-color: darkgrey;    }

header, footer{ text-align: center; margin-top: 15px;}

section{
    margin-top: 12px;
    width: 500px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

div#res{ margin: 10px auto;}

/* PARTE ACIMA = PADRÃO, NÃO ALTERAR*/

section { text-align: center;}

section input{ margin: 10px auto; width: 120px; display: block;}

section div.list{ text-align: center; display: block;}

ol{ display: inline-block;}

li {
    padding: 2px;
    list-style-position: inside;
    text-align: left;
    margin: 0 auto;
}

button{ margin-top: 10px;width: 80px;}